# See http://help.github.com/ignore-files/ for more about ignoring files.
#inferno CLI configuration
.infernorc
.infernorc.json
.infernorc.yaml
.infernorc.yml
.infernorc.js
.infernorc.cjs
inferno.config.js
inferno.config.cjs
inferno.web.config.js
#environment files
.env
.config

# compiled output
node_modules
tmp
out-tsc
dist

# profiling files
chrome-profiler-events.json
speed-measure-plugin.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*


# System Files
.DS_Store
Thumbs.db
*.bak


/package-lock.json
/project-usf/src/test.html
