@import "swiper";

$mainColor: yellow;

novo-widget {
  display: block;
  h1 {
    color: blue;
  }
}

.widget-header {

}

.widget-body {
  min-height: 500px;
  display: flex;
  flex-flow: column;
  background: lightgray;
  padding:40px;
  font-size: 14px;
  font-family: 'Roboto Slab', serif;
}

.widget-footer {
  min-height: 80px;
  color: white;
  background: cornflowerblue;
  text-align: center;
  display: flex;
  flex-flow: column;
}
