@import "~swiper/swiper";
$mainColor: yellow;

novo-widget {
  display: block;
  h1 {
    color: blue;
  }
}

.swiper-container {
  width: 100%;
  height: auto;
}

.swiper-wrapper {
  height: auto !important;
}

.swiper-slide {
  height: auto !important;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide > img {
  width: 100%;
  height: auto;
  display: inline-block;
}

.swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  opacity: .7;
}

.swiper-pagination-bullet-active {
  width: 20px;
  height: 20px;
  opacity: .8;
  background-color: white;
}

@media only screen and (max-width: 754px) {
  .swiper-pagination {
    display:none;
  }
}

@media only screen and (max-width: 900px) {
  .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
  }
  .swiper-pagination-bullet-active{
    width: 16px;
    height: 16px;
  }
}
