//comment out any styles not needed to reduce final widget.js bundle size

//- styles required for core Swiper styles
@import "~swiper/swiper.scss";
//- styles required for A11y component
@import "~swiper/components/a11y/a11y.scss";
//- styles required for A11y component
@import "~swiper/components/controller/controller.scss";
//- styles required for Coveflow Effect component
@import "~swiper/components/effect-coverflow/effect-coverflow.scss";
//- styles required for Cube Effect component
@import "~swiper/components/effect-cube/effect-cube.scss";
//- styles required for Fade Effect component
@import "~swiper/components/effect-fade/effect-fade.scss";
//- styles required for Flip Effect component
@import "~swiper/components/effect-flip/effect-flip.scss";
//- styles required for Lazy component
@import "~swiper/components/lazy/lazy.scss";
//- styles required for Navigation component
@import "~swiper/components/navigation/navigation.scss";
//- styles required for Pagination component
@import "~swiper/components/pagination/pagination.scss";
//- styles required for Scrollbar component
@import "~swiper/components/scrollbar/scrollbar.scss";
//- styles required for Thumbs component
@import "~swiper/components/thumbs/thumbs.scss";
//- styles required for Zoom component
@import "~swiper/components/zoom/zoom.scss";

.swiper-container {
  width: 100%;
  height: auto;
}

.swiper-wrapper {
  height: auto !important;
}

.swiper-slide {
  height: auto !important;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide > img {
  width: 100%;
  height: auto;
  display: inline-block;
}

.swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  opacity: .7;
}

.swiper-pagination-bullet-active {
  width: 20px;
  height: 20px;
  opacity: .8;
  background-color: white;
}

@media only screen and (max-width: 754px) {
  .swiper-pagination {
    display: none;
  }
}

@media only screen and (max-width: 900px) {
  .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
  }
  .swiper-pagination-bullet-active {
    width: 16px;
    height: 16px;
  }
}

span.swiper-button-prev, span.swiper-button-next {
  top: 0;
}
span.swiper-button-prev {
  left: 0;
}
span.swiper-button-next {
  right: 0;
}
span.swiper-button-prev:after {
  font-size: 148px;
  color: white;
  content: "\\2039";
}

span.swiper-button-next:after {
  font-size: 148px;
  color: white;
  content: "\\203A";
}
