<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>Inferno Snippet Mockup Template</title>
  <!-- Import Roboto -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic|Roboto+Mono:400,500|Material+Icons" rel="stylesheet">
  <!-- Import Inferno's Styles -->
  <link rel="stylesheet" href="https://studio304nextechar.freetls.fastly.net/infernoAR/_templates/css/inferno-base-styles.css">
  <link rel="stylesheet" href="https://studio304nextechar.freetls.fastly.net/infernoAR/_templates/css/inferno-extra-styles.css">
  <!--  Local/Client Color Overrides if they file exists -->
  <link rel="stylesheet" href="../inferno-client.css">
  <script>
    let landingPageEl = null
    window.isLocalTemplate = true
  </script>
  <!-- Import JQuery -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
  <!--  Authenticate into the platform and set session values so you can leverage API calls in your snippets -->
  <script>
    function authenticate(project) {
      const _baseUrl = 'https://ingress.infernocore.jolokia.com/api/'
      // Auth w/ Inferno API
      const params = {
        email: project.username,
        password: project.password,
        grantType: 'password',
      }

      // Set header
      const headers = {'X-InfernoCore-Domain': project.domain}

      // perform synchronous ajax call so rest of code waits until you are authenticated
      $.ajax({
        url: _baseUrl + 'token',
        type: 'POST',
        async: false,
        accept: 'application/json',
        contentType: 'application/json',
        headers: headers,
        data: JSON.stringify(params),
        success: function (res) {
          sessionStorage.setItem('domain', project.domain)
          storeUser(JSON.parse(res))
        },
        error: function (err) {
          alert(JSON.stringify(err))
        },
        complete: function () {
          console.log('user was authenticated into ', project.domain)
        },
      })

    }

    function storeUser(data) {
      // console.log(data);
      sessionStorage.setItem('clientId', data.ClientId)
      sessionStorage.setItem('token', data.AccessToken)
      sessionStorage.setItem('refreshToken', data.RefreshToken)
    }

    function login() {
      window.addEventListener('load', (event) => {
        const projectEl = document.querySelector('#novoProject');
        const projectName = projectEl ? projectEl.getAttribute('name') : null;
        const currentProject = projects.filter(project => {
          return project.name === projectName;
        })[0];

        if (!currentProject) {
          alert('could not log into Inferno \n\r Check the project name in the login() function');
          return;
        }

        authenticate(currentProject);
      });
    }

  </script>
  <!-- store your credentials in a local file -->
  <!-- use to keep credentials out of files in case of committing to REPO or sharing template with someone else.-->
  <!-- projects = [{name: 'anything', username: 'email@address.com', password: '**********', domain: 'novologic.infernoar.com'}]-->
  <script onload="login()" onerror="console.error('/inferno.config.js', 'does not exist, can not log into inferno as test user')" src="/inferno.config.js"></script>

  <!-- Liquid Templating -->
  <script src="https://cdn.jsdelivr.net/npm/liquidjs/dist/liquid.min.js"></script>
  <!--  Load Liquid JSON From Local file -->
  <script>
    function loadJSON(file, callback) {

      const xobj = new XMLHttpRequest()
      xobj.overrideMimeType('application/json')
      xobj.open('GET', file, false) // Replace 'my_data' with the path to your file
      xobj.onreadystatechange = function () {
        if (xobj.readyState == 4 && xobj.status == '200') {
          // Required use of an anonymous callback as .open will NOT return a value but simply returns undefined in asynchronous mode
          callback(xobj.responseText)
        }
      }
      xobj.send(null)
    }

    // Insert your liquid data here. Remember to convert from JSON to JS Object (use https://json-to-js.com/ or similar)
    // Set data object to null to skip Liquid processing. You probably want to do this if you're not using liquid as the
    // processing can potentially interfere with scripts that run on page load.
    var data = {}
    loadJSON('../liquid.json', function (response) {
      // Parse JSON string into object
      const x = JSON.parse(response)
      data = x[0]
    })

  </script>

  <!-- Build out Local Menu on Left Navigation -->

  <style>
    #localTemplateMenu {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      padding: 1em;
    }

    #localTemplateMenu a {
      display: block;
      margin: .25em;
      background-color: var(--sidebar-bg-color);
      border: none;
      border-bottom: solid 1px var(--sidebar-highlight-text-color);
      color: var(--sidebar-text-color);
      cursor: pointer;
      width: 80%;
      padding: .25em 0;
    }

    #localTemplateMenu a:hover {
      filter: brightness(80%);
      text-decoration: none;
      transform: translateX(-.3em);
    }

    #localTemplateMenu a.activeMenu {
      background-color: var(--sidebar-highlight-bg-color);
      color: var(--sidebar-text-color);
    }

    .aside-collapsed * #localTemplateMenu {
      margin: 0;
      padding: 1em 0;
    }

    .aside-collapsed * #localTemplateMenu a {
      word-wrap: break-word;
      min-width: 100%;
      border-radius: 0;
      border-bottom: 1px solid var(--sidebar-text-color);
    }

    .aside-collapsed * #localTemplateMenu a:hover {
      transform: none;
    }

  </style>
  <script>
    function buildLocalMenu() {
      window.addEventListener('load', (event) => {
        const menu = document.getElementById('localTemplateMenu');
        window.localTemplateMenuItems.forEach(item => {
          const menuItem = document.createElement('a');
          menuItem.href = "../" + item.file;
          menuItem.innerHTML = item.name;
          menuItem.setAttribute('title', item.file + '\n\r' + item.snippetID);
          try {
            const currentSnippet = landingPageEl.querySelector('#' + item.snippetID.toString());
            if (currentSnippet) {
              menuItem.classList.toggle('activeMenu');
            }
          } catch (e) {
            // do nothing;
          }
          menu.appendChild(menuItem);
        })
      })
    }
  </script>
  <script onload="buildLocalMenu()" onerror="console.error('../menu.js', 'does not exist, run inferno build {project-name} to generate menu.js file')" src="../menu.js"></script>

</head>

<body>
<div style="display:none" id="novoProject" name="tedxmalmo" onload="login()"></div>
<app-root class="layout-fixed has-menu">
  <videos-layout>
    <div class="wrapper" layout="column">
      <app-header class="topnavbar-wrapper">
        <mat-toolbar class="mat-elevation-z3 navbar topnavbar mat-toolbar mat-primary mat-toolbar-single-row ng-star-inserted" color="primary">
          <div class="navbar-header"><a href="/">LOCAL</a></div>
          <div class="ellipsis ng-star-inserted" flex layout="row" layout-align="start center">
            <button class="menu-btn mat-icon-button ng-star-inserted" hide mat-icon-button show-gt-sm trigger-resize onclick="mtTriggerMenu()">
              <span class="mat-button-wrapper">
                  <mat-icon class="mat-icon material-icons mat-icon-no-color" role="img" aria-hidden="true">
                    menu
                  </mat-icon>
              </span>
            </button>
            <div _ngcontent-inv-c7 class="mat-title ellipsis m0" flex title="Page Title">Sample Page Title</div>
          </div>
        </mat-toolbar>
      </app-header>
      <!-- SIDEBAR -->
      <videos-sidebar class="aside">
        <div class="aside-inner">
          <nav class="sidebar" sidebar-anyclick-close>
            <div class="nav" id="localTemplateMenu"></div>
          </nav>
          
        </div>
      </videos-sidebar>
      <!-- ./ SIDEBAR -->
      <!-- LANDING -->
      <section class="IE-FlexAuto" flex>
        <div class="content-wrapper">
          <landing-page class="ng-star-inserted">
            <div id="landing">
              <!-- CREATE SHADOW DOM AND ATTACH STYLES -->
              <script>
                landingPageEl = document.querySelector('landing-page').attachShadow({mode: 'open'})
                const landing = landingPageEl.appendChild(document.getElementById('landing'))
                landingPageEl.appendChild(landing)
                const loginPageEl = landingPageEl
              </script>
              <style type="text/css">
                @import url("https://studio304nextechar.freetls.fastly.net/infernoAR/_templates/css/inferno-shadow-styles.css");
              </style>
              <!-- ********************* -->
              <!-- ********************* -->
              <!-- ********************* -->
              <!-- SNIPPET CONTENT START -->
              <inferno-snippet-content id="1a9dc51b-89aa-4239-85b8-83dbee9487ac">
									<!--  Load custom fonts -->
									<script type="text/javascript">
										function loadFont(name, url) {
											if (document.fonts.check("1em " + name)) {
												return;
											}
											const fontFace = new FontFace(name, "url(" + url + ")");

											fontFace
												.load()
												.then(function (loadedFont) {
													document.fonts.add(loadedFont);
													console.log("Loaded custom font ", name);
												})
												.catch(function (error) {
													// error occurred
													console.log("Error loading ", name);
												});
										}

										loadFont(
											"Montserrat",
											"https://inferno-event-assets.s3-us-west-2.amazonaws.com/fonts/Montserrat-Regular.ttf"
										);
										loadFont(
											"MontserratBold",
											"https://inferno-event-assets.s3-us-west-2.amazonaws.com/fonts/Montserrat-Bold.ttf"
										);
									</script>

									<style>
										.content {
											display: flex;
											flex-direction: column;
											justify-content: center;
											min-height: calc(100vh - 114px);
											width: calc(100% + 40px);
											z-index: 1;
											font-family: "Montserrat", sans-serif;
											background-image: url("https://inferno-event-assets.s3-us-west-2.amazonaws.com/tedxmalmo/player/bg.jpg");
											background-position: bottom center;
											background-repeat: no-repeat;
											background-size: cover;

											margin: -20px;
											color: var(--sidebar-text-color);
										}

										.message {
											width: 100%;
											height: 100vh;
											display: flex;
											flex-direction: column;
											align-items: center;
											justify-content: center;
											background-color: rgba(0, 0, 0, 0.5);
										}

										.disclaimer {
											font-size: 1.6rem;
											max-width: 70rem;
											padding: 1rem 5rem;
											margin-bottom: 2rem;
										}

										.content h1 {
											font-size: 3.2rem;
											font-weight: bold;
										}

										.content a {
											font-size: 2.4rem;
											text-decoration: none;
											color: var(--sidebar-text-color);
										}

										.content a:hover {
											color: rgba(255, 255, 255, 0.7);
										}

										.redirect-button {
											cursor: pointer;
											width: fit-content;
											background-color: rgba(11, 38, 104, 0.5);
											border-radius: 10px;
											border: 1px solid rgba(0, 0, 0, 0.5);
											box-shadow: 2px 2px 3px rgba(255, 255, 255, 0.1);
											padding: 2rem;
										}

										.redirect-button:hover {
											background-color: rgba(0, 0, 0, 0.5);
										}
									</style>

									<div class="content">
										<div class="message">
											<!-- Get current timestamp by casting NOW to seconds since 1970 -->
											{% assign currentDateTime = "now" | date:
											"%Y-%m-%dT%H:%M:%S%z" %} {% assign currentTime = "now" |
											date: "%s" | plus: 0 %}
											<!--                    <p>Current Date and Time {{ currentDateTime }} - {{ currentTime }}</p>-->
											<!-- Sort events by start time -->
											{% assign sortedEvents = data.Events | sort: 'StartTime'
											%}

											<!-- Set nextEvent so we know if no upcoming event is found -->
											{% assign nextEvent = 'No Event' %} {% assign
											currentCategory = data.CurrentlyViewedCategory.Id |
											downcase %}

											<!--                    <h2>Current Category</h2>-->
											<!--                    <ul>-->
											<!--                      <li>{{ data.CurrentlyViewedCategory.Name }}</li>-->
											<!--                      <li>{{ currentCategory }}</li>-->
											<!--                    </ul>-->

											<!-- Iterate the sorted events -->
											{% for event in sortedEvents %}

											<!-- Check the event category ID matches this page category ID -->
											{% assign thisCategory = event.FirstCategoryId | downcase
											%} {% if thisCategory != currentCategory%}
											<!-- ... and if not, skip iteration -->
											<!--                    <h4>Skipping Event - {{ event.Name }} </h4>-->
											<!--                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; First Category ID {{ event.FirstCategoryId }} not equal {{ data.CurrentlyViewedCategory.Id }}</p>-->
											{% continue %} {% endif %}

											<!-- The end time is start timestamp added to video duration -->
											{% assign endTime = event.StartTime | date: "%s" | plus:
											event.VideoDuration %}

											<!-- Force currentTime & endTime to number by adding 0 and compare...  -->
											{% if currentTime > endTime %}
											<!--                    <h4>Skipping Event - {{ event.Name }} </h4>-->
											<!--                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Event is in the Past {{event.StartTime}}</p>-->
											{% assign nextEvent = event %}
											<!-- ...if current time is after the end time, the event has passed, and we skip to the next iteration,... -->
											{% continue %}
											<!-- ...otherwise... -->
											{% else %}
											<!-- ... we set this as our next upcoming event and ... -->
											{% assign nextEvent = event %} {% endif %}

											<!-- ...break the iteration loop. -->
											{% break %} {% endfor %}

											<!-- If the loop didn't find any upcoming events,... -->
											{% if nextEvent == 'No Event' %}
											<h1>No Sessions or Events are Currently Available</h1>
											<p>Check Back Later</p>
											{% else %}
											<!-- ...otherwise we'll write our event link by combining category and event GUIDs. -->
											<!-- set display: none when in production -->
											<h1>{{nextEvent.Name}}</h1>
											<div class="disclaimer">
												WARNING Dear guests, Please be aware that recording any
												of the TED talks is strictly impermissible. However you
												are welcome to screenshot, record, post and interact
												with the other elements of the event. Thank you and
												enjoy!
											</div>
											<a id="redirect-link" href="/videos/{{ data.CurrentlyViewedCategory.Id }}/detail/{{ nextEvent.Id }}">
												<div class="redirect-button">
													Go to the Current or Upcoming Session
												</div>
											</a>
											{% endif %}
										</div>

										<!--  SNIPPET CONTENT END  -->
										<!-- ********************* -->
										<!-- ********************* -->
										<!-- ********************* -->
									</div>
								</inferno-snippet-content>
              <!--  SNIPPET CONTENT END  -->
              <!-- ********************* -->
              <!-- ********************* -->
              <!-- ********************* -->
            </div>
          </landing-page>
        </div>
      </section>
      <!-- LANDING -->
      <!-- FOOTER -->
      <footer app-footer layout="row" layout-align="start center">
        Inferno Footer
      </footer>
      <!-- ./ FOOTER -->
    </div>
  </videos-layout>
</app-root>




<script>

  // LIQUID PROCESSING (Set the data variable above)
  function processLiquid() {
    return new Promise((resolve, reject) => {
      console.log('PROCESSING LIQUID')
      // We rip the entire content of the inferno-snippet-content element. InnerHTML returns certain characters such as < and > escaped.
      // This breaks comparison operators, so we need to convert them back before Liquid processing.
      const template = landingPageEl.querySelector('inferno-snippet-content').innerHTML.replace(/&lt;/g, '<').replace(/&gt;/g, '>').replace(/&amp;/g, '&')
      // Select the element itself to replace the content
      const result = landingPageEl.querySelector('inferno-snippet-content')
      // Initialize the parsing engine
      const engine = new liquidjs.Liquid()
      // Parse and render
      engine.parseAndRender(template, {data}).then(html => result.innerHTML = html)
      resolve()
    })

  }

  // Set the menu initial state here: 'expanded', 'collapsed', or 'hidden'.
  function mtCollapseMenu() {
    const appRoot = document.querySelector('app-root')
    const sideBar = document.querySelector('videos-sidebar')
    window.sessionStorage.setItem('menuState', 'collapsed')
    appRoot.classList.add('aside-collapsed')
    appRoot.classList.remove('aside-hidden')
    sideBar.classList.remove('hidden')
  }

  function mtHideMenu() {
    const appRoot = document.querySelector('app-root')
    const sideBar = document.querySelector('videos-sidebar')
    window.sessionStorage.setItem('menuState', 'hidden')
    appRoot.classList.remove('aside-collapsed')
    appRoot.classList.add('aside-hidden')
    sideBar.classList.add('hidden')
  }

  function mtExpandMenu() {
    const appRoot = document.querySelector('app-root')
    const sideBar = document.querySelector('videos-sidebar')
    window.sessionStorage.setItem('menuState', 'expanded')
    appRoot.classList.remove('aside-hidden')
    appRoot.classList.remove('aside-collapsed')
    sideBar.classList.remove('hidden')
  }

  function mtTriggerMenu() {
    const appRoot = document.querySelector('app-root')
    const sideBar = document.querySelector('videos-sidebar')
    if (!appRoot.classList.contains('aside-collapsed') && !appRoot.classList.contains('aside-hidden')) {
      mtCollapseMenu()
    } else if (appRoot.classList.contains('aside-collapsed') && !appRoot.classList.contains('aside-hidden')) {
      mtHideMenu()
    } else if (appRoot.classList.contains('aside-hidden')) {
      mtExpandMenu()
    }
  }

  function mtInitMenu() {
    const appRoot = document.querySelector('app-root')
    const sideBar = document.querySelector('videos-sidebar')
    const state = sessionStorage.getItem('menuState')

    if (state === 'collapsed') {
      mtCollapseMenu()
    } else if (state === 'hidden') {
      mtHideMenu()
    } else if (state === 'expanded') {
      mtExpandMenu()
    }
  }

  function populateInfernoElements() {
    const qaDiv = landingPageEl.querySelector('#inferno-questions-basic')
    const videoDiv = landingPageEl.querySelector('#inferno-video-player')
    if (qaDiv) {
      $(qaDiv).append(`
      <questions _nghost-qch-c20="">
        <div class="ng-untouched ng-pristine ng-valid ng-star-inserted">
          <div class="inferno-input-group">
            <span class="inferno-input-group-addon">Ask A Question</span>
            <input class="inferno-form-control ng-untouched ng-pristine ng-valid" type="text">
            <span class="inferno-input-group-btn">
              <button class="inferno-btn" type="button">Submit</button>
            </span>
          </div>
        </div>
      </questions>
      `)
    }
    if (videoDiv) {
      $(videoDiv).append(`
        <iframe src="https://jolokia.inferno.jolokia.com/embed/ecd7f4ad-2c0a-4f3f-bfd6-37670cc2edbd"
          width="640"
          height="360"
          frameborder="0"
          allowfullscreen">
        </iframe>
        `)
    }
  }

  // Wait for liquid processing before handling the rest
  if (data) {
    processLiquid().then(mtInitMenu).then(populateInfernoElements)
  } else {
    mtInitMenu()
    populateInfernoElements()
  }

</script>



</body><!-- Menu Collapse Script -->