:root {
  /* client project branding colors*/
  --branding-primary: #2b5fb8;
  --sidebar-bg-color: #1f4586;
  --sidebar-highlight-bg-color: #2b5fb8;
  --sidebar-text-color: #ffffff;
  --sidebar-highlight-text-color: #ffffff;

  /* jolokia platform colors*/
  --branding-success: #4CAF50;
  --branding-info: 3, 169, 244;
  --branding-warning: #FF9800;
  --branding-danger: #F44336;
  --jolokia-primary: #00897B;
}

/* adjustment for left sidebar navigation menu since it is just a mockup */
.sidebar>.nav li {
  margin-top: 40px;
  margin-left: 12px;
  color: var(--sidebar-highlight-text-color);
  font-weight: bold;
}
