#novo-container {
  position: absolute;
  width: 100%;
  height: auto;
  min-height: 100%;
  top: 0;
  left: 0;
  margin: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#novo-search-bar-container {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(516px, 1fr));
  min-height: 64px;
  background-color: rgba(0,0,0,.06);
  align-items: center;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 8px;
  padding-right: 8px;
}

#novo-search-title {
  font-size: 38px;
  font-weight: 300;
  color: white;
}

@media only screen and (max-width: 1200px) {
  #novo-search-title {
    font-size: 24px;
  }
}

.novo-search-input {
  height: 39px;
  width: 100%;
  min-width: 150px;
  padding: 0 16px;
  border-radius: 20px;
  border: 3px solid black;
  outline: none;
  font-size: 18px;
  font-weight: 400;
  color: black;
}

#novo-featured-container, #novo-standard-container {
  margin: 24px 12px 48px 12px;
  border-bottom: 1px solid;
  padding-bottom: 24px;
}
