:root {
  --branding-primary: #9ccb3b;
  --sidebar-bg-color: #005432;
  --sidebar-highlight-bg-color: #006e49;
  --sidebar-text-color: #ffffff;
  --sidebar-highlight-text-color: #9ccb3b;
  --branding-success: #4CAF50;
  --branding-info: 3, 169, 244;
  --branding-warning: #FF9800;
  --branding-danger: #F44336;
  --jolokia-primary: #00897B;
}

*, :after, :before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: rgba(0, 0, 0, .87);
  background-color: #fff;
}

.app-root {
  overflow-y: auto;
}

.wrapper, .app-root {
  display: block;
}

.app-root, body, html {
  height: 100%;
}

[layout=column] {
  flex-direction: column;
}

[layout=column], [layout=row], [layout] {
  box-sizing: border-box;
  display: flex;
}

.wrapper {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 100%;
  overflow-x: hidden;
}

.layout-fixed .wrapper .topnavbar-wrapper {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 121;
}

.mat-toolbar.mat-primary, .topnavbar {
  background-color: var(--branding-primary);
}

.mat-toolbar {
  height: 55px;
  white-space: normal;
  padding: 0;
  z-index: 99;
}

.mat-elevation-z3 {
  box-shadow: 0 3px 3px -2px rgba(0, 0, 0, .2), 0 3px 4px 0 rgba(0, 0, 0, .14), 0 1px 8px 0 rgba(0, 0, 0, .12);
}

.aside {
  height: 1px;
  min-height: 100%;
}

.aside {
  position: fixed;
  width: 70px;
}

.aside-open {
  width: 280px;
}

.aside {
  background-color: var(--sidebar-bg-color);
  z-index: 99;
}

.layout-fixed .wrapper > section {
  margin-top: 55px;
}

[flex] {
  flex: 1;
  box-sizing: border-box;
}

aside, footer, section {
  display: block;
}

.layout-fixed .wrapper > section {
  margin-top: 55px;
}

@media only screen and (min-width: 768px) {
  .wrapper > section {
    margin-left: 70px;
  }
  .aside-open .wrapper > section {
    margin-left: 280px;
  }
}

@media only screen and (min-width: 768px) {
  .content-wrapper {
    padding: 20px;
  }
}

.content-wrapper {
  padding: 15px;
  width: 100%;
  margin-top: -1px;
  min-height: 100%;
  border: 1px solid #000;
}

