.swiper-container {
  width: 100%;
  height: auto;
}

.swiper-wrapper {
  height: auto !important;
}

.swiper-slide {
  height: auto !important;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide > img {
  width: 100%;
  height: auto;
  display: inline-block;
}

.swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  opacity: .7;
}

.swiper-pagination-bullet-active {
  width: 20px;
  height: 20px;
  opacity: .8;
  background-color: white;
}

@media only screen and (max-width: 754px) {
  .swiper-pagination {
    display:none;
  }
}

@media only screen and (max-width: 900px) {
  .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
  }
  .swiper-pagination-bullet-active{
    width: 16px;
    height: 16px;
  }
}
